.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  h3 {
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
  h4 {
    margin-bottom: 0;
  }
}

.position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 0.25rem;
  h4 {
    margin-bottom: 0;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.color {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  h4 {
    margin-bottom: 0;
  }
}
