.container {
  position: fixed;
  top: 120px;
  left: 48px;
  right: 0;
  bottom: 0;
  overflow: scroll;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 600px) {
    left: 0;
    bottom: 80px;
  }

  @media screen and (max-width: 900px) {
    top: 90px;
  }
}
